<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898195815854-cg9ipvrgkgkrtnqc1l7h9ocd6ab2lpas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898195815854-cg9ipvrgkgkrtnqc1l7h9ocd6ab2lpas</string>
	<key>API_KEY</key>
	<string>AIzaSyDwJZlr0HbQwLNzMgq7wlnFms7GiKJY_ww</string>
	<key>GCM_SENDER_ID</key>
	<string>898195815854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProjects</string>
	<key>PROJECT_ID</key>
	<string>instagram-tutorial-24053</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-tutorial-24053.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898195815854:ios:7a1f1bc59f683164011c3f</string>
</dict>
</plist>